---
import { BlankLayout } from "@continuum-ai/ui";
---

<BlankLayout title="Link - Invalid">
  <main>
    <div class="row mb-xl align-center">
      <img src="https://continuum-ai.de/favicon.ico" class="round" />
      <span class="connection"></span>
      <img
        src="https://cdn.dribbble.com/userupload/3158902/file/original-7c71bfa677e61dea61bc2acd59158d32.jpg?resize=400x0"
        class="round"
      />
    </div>
    <h1>Application does not exist!</h1>
    <div class="border-container gap-sm">
      <button onclick="window.close()">Close</button>
      <p>
        The ID used to authenticate with our servers was not registered
        properly, please contact the host of the site to resolve this issue. We
        are sorry for the inconvenience.
      </p>
    </div>
  </main>
</BlankLayout>
